* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #03318C;
    padding: 16px 0;
    color: white;
    display: flex;
    border-bottom: 16px solid #0460D9;
    justify-content: center;
    text-transform: uppercase;
}

header button {
    margin-left: 16px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: #0460D9;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

form {
    background-color: #B9D7D9;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 10px;
}
input, button {
    padding: 8px;
}

form button {
    background-color: #0460D9;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#cancelar {
    background-color: darkred;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-link {
    padding: 16px;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 1s;
}

.overlay-link a {
    color: white;
    text-decoration: none;
}

ul li:hover .overlay-link {
    opacity: 1;
}